* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* Hace que el tamaño total de un elemento incluya el padding y el borde, evitando que crezca inesperadamente */
  }
  
body {
    font-family: 'Lora', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /*it has a minimum dimension of 100vh but can grow as needed. And there is no problem with vertical centering in a flex layout.*/
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #201d1d;
}

.header {
    display: block;    
    position: absolute;
    top: 0;
    text-align: center;
    
}

a {
    text-decoration: none;
    color: #201d1d;
}
.galeria_dialogos {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr)); /*2 columnas en lugar del anterior autofit*/
    grid-gap: 10px; /* Espaciado entre las fotos */
    width: 90%; /* Aseguramos que no se pase del ancho de la pantalla */
    max-width: 900px; /* Máximo tamaño en píxeles */
    padding-top: 100px;
}

.galeria_dialogos img {
    width: 100%; /* Las imágenes ocupan todo el espacio de su celda */
    height: 100%; /* Mantener la proporción */
    object-fit: cover; /* Asegura que la imagen cubra el área de su celda sin deformarse */
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.galeria_dialogos img:hover {
    transform: scale(1.05);
}


/* Estilos del modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

/* Responsividad */
@media screen and (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas más pequeñas */
    }
}

@media screen and (max-width: 480px) {
    .gallery {
        grid-template-columns: 1fr; /* 1 columna en pantallas muy pequeñas */
    }
}
